body {
    background-color: black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    max-height: 60px;
    animation: fadeInDown 1s ease forwards;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.nav-items a {
    text-decoration: none;
    color: white;
}

.nav-items {
    list-style: none;
    display: flex;
}

.nav-item {
    margin-left: 15px;
    font-size: 18px;
}

.navbar-logo {
    max-width: 90px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
}

.content-item {
    display: flex;
    margin-bottom: 20px;
    margin-top: 10px;
    animation: slideInLeft 1s ease forwards;
}

@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.content-item h1 {
    color: white;
}

.content-image {
    max-width: 30%;
    margin-right: 20px;
}

.content-text {
    margin: 0;
    color: white;
    text-align: justify;
    flex: 1;
}

h1 {
    color: white;
    text-align: center;
    animation: fadeInUp 1s ease forwards;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.footer {
    background: #1F1D18;
    margin-top: 10px;
    padding: 20px;
    text-align: center;
    animation: fadeInUp 1s ease forwards;
}

.footer .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer .col-md-4 {
    flex: 1;
    text-align: center;
}

.fot-text h1,
.fot-text h6 {
    color: #fff;
}

.icons {
    padding: 10px;
    font-size: 24px;
    text-align: center;
}

p{
    color: white;
}

.signup,
.login {
    background-color: #333;
    color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
}

.signup h2,
.login h2 {
    margin-top: 0;
    text-align: center;
}

.signup form,
.login form {
    display: flex;
    flex-direction: column;
}

.signup input[type="text"],
.signup input[type="email"],
.signup input[type="password"],
.signup button,
.login input[type="email"],
.login input[type="password"],
.login button {
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 3px;
}

.signup button,
.login button {
    cursor: pointer;
    background-color: #1f1f1f;
    color: white;
    transition: background-color 0.3s ease;
}

.signup button:hover,
.login button:hover {
    background-color: #333;
}

@media only screen and (min-width: 768px) {
    .content {
        padding: 0 100px;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

h1.blink {
    animation: blink 1s infinite;
}
