* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    width: 100%;
    max-width: 600px; /* Adjust maximum width */
    margin: 0 auto;
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.search {
    text-align: center;
    margin-bottom: 20px;
}

input.location {
    width: 70%; /* Adjust input width */
    padding: 10px;
    margin-bottom: 10px;
}

button#searchBtn {
    width: 70%; /* Adjust button width */
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.location-not-found {
    display: none;
    text-align: center;
    margin-bottom: 20px;
}

.weather-body {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.weather-img {
    max-width: 40%; /* Adjust the width of the image */
    height: auto; /* Ensure aspect ratio is maintained */
    margin-right: 20px;
}

.weather-box {
    text-align: center;
}

.weather-details {
    text-align: center;
    margin-top: 20px;
}

.weather-details .humidity,
.weather-details .wind {
    margin: 0 10px;
    margin-top: 5px;
}

.weather-details .text {
    font-size: 14px;
}

@media (max-width: 480px) {
    input.location {
        width: 80%;
    }

    button#searchBtn {
        width: 80%;
    }

    .weather-img {
        max-width: 80%;
        margin-right: 0;
    }

    .weather-info {
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }

}
